<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>Save Exception</title>
    <script type="text/javascript">
        $(function () {
            $("#enddate").change(function () {
                var startDate = document.getElementById("startdate").value;
                var endDate = document.getElementById("enddate").value;
                if ((Date.parse(startDate) > Date.parse(endDate))) {
                    alert("De einddatum kan niet vroeger dan de startdatum");
                    document.getElementById("enddate").value = null;
                }
            });
        })
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloTeacher">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teacherFTE">MIJN URENOVERZICHT</a></li>
                    <li><a href="/showTasks">VACATURBEHEER</a></li>
                    <li><a href="/applicationBasket">MIJN SOLLICITATIES</a></li>
                    <li class="dropdown">
                        <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle"
                           data-toggle="dropdown" roleName="button" aria-haspopup="true" aria-expanded="false">MIJN VAK
                            & ROOSTER VOORKEUREN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule/listCohort">Mijn Rooster Voorkeuren</a></li>
                            <li><a href="/showSubjects">Mijn Vak Voorkeuren</a></li>
                        </ul>
                    </li>
                    <li><a href="/exception/list">INCIDENTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="container">
    <hr>
    <p class="h4 mb-4">Geef een nieuw exception op</p>
    <form action="#" th:action="@{/exception/save}"
          th:object="${exception}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <label for="startdate"></label><input type="date" id="startdate" th:field="*{startDate}"
                                              class="form-control mb-4 col-4" placeholder="Start Datum">
        <label for="enddate"></label><input type="date" id="enddate" th:field="*{endDate}"
                                            class="form-control mb-4 col-4" placeholder="Eind Datum">
        <label>
            <select class="mdb-select md-form" th:field="*{colorOption}" required="required">
                <option selected value="Kies Cohort"> Bent u beschikbaar?</option>
                <option value="JA">JA</option>
                <option value="NEE">NEE</option>
            </select>
        </label>
        <button type="submit" class="btn btn-success col-2">Voeg toe</button>
    </form>
    <hr>
    <a th:href="@{/exception/list}">Terug naar Incidentenlijst</a>
</div>
</body>
</html>
