<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <title>Manage Subject</title>
    <title>Bekijk opgegeven beschikbaarheid</title>
    <style>
        .NEE {
            background: red;
        }

        .JA {
            background: green;
        }
    </style>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloTeacher">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teacherFTE">MIJN URENOVERZICHT</a></li>
                    <li><a href="/showTasks">VACATURBEHEER</a></li>
                    <li><a href="/applicationBasket">MIJN SOLLICITATIES</a></li>
                    <li class="dropdown">
                        <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle"
                           data-toggle="dropdown" roleName="button" aria-haspopup="true" aria-expanded="false">MIJN VAK
                            & ROOSTER VOORKEUREN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule/listCohort">Mijn Rooster Voorkeuren</a></li>
                            <li><a href="/showSubjects">Mijn Vak Voorkeuren</a></li>
                        </ul>
                    </li>
                    <li><a href="/exception/list">INCIDENTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container">

    <h3>Bekijk opgegeven beschikbaarheid</h3>
    <hr>
    <a th:href="@{/exception/addException}"
       class="btn btn-primary btn-sm mb-3">
        Incident Toevoegen
    </a>

    <table class="table table-bordered table-striped" style="background-color:	#D5D6E8;color: black">
        <thead style="background-color: #555D9C;color: white;!important;">
        <tr>
            <th>Begin Datum</th>
            <th>Eind Datum</th>
            <th>Aanwezigheid</th>
            <th>Actie</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempExceptions : ${exceptions}">
            <td th:text="${tempExceptions.startDate}"></td>
            <td th:text="${tempExceptions.endDate}"></td>
            <td th:class="${tempExceptions.colorOption}" th:text="${tempExceptions.colorOption}"></td>
            <td>
                <a th:href="@{/exception/updateException(exceptionId=${tempExceptions.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/exception/deleteException(exceptionId=${tempExceptions.id})}"
                   class="btn btn-danger btn-sm" onclick="if(!(confirm('Ben je zeker!?')) ) return false">
                    Verwijderen
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>