<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloAdmin">HOME</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/userController/userList">BEHEER GEBRUIKERS</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </div>

        </div>
    </nav>
</div>

<div class="container-fluid" style="margin-top: 30px;">

    <div class="row col-lg-4 col-lg-offset-4"
         style="margin-top: 40px; background-color: #D7D7D7;!important; padding: 20px; border: solid 1px #ddd;">
        <form autocomplete="off" action="/authController/register" th:object="${user}" method="post"
              class="form-signin" roleName="form">
            <h3 class="form-signin-heading">Voeg nieuwe gebruiker toe</h3>

            <div class="form-group">
                <label>
                    <input type="text" th:field="*{name}" placeholder="Voornaam" class="form-control"
                           style="font-weight: bold;color: black"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="text" th:field="*{lastName}" placeholder="Achternaam" class="form-control"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="password" th:field="*{password}" placeholder="Wachtwoord" class="form-control"/>
                </label>
            </div>

            <div class="form-group">
                <label>
                    <select multiple th:field="*{rolesOfUser}" class="form-control">
                        <option th:each="role: ${roles}" th:value="${role.getId()}" th:text="${role.getRoleName()}">
                    </select>
                </label>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" value="Registreer nieuwe gebruiker" class="btn btn-primary btn-block"/>
                </div>
            </div>

            <span th:utext="${successMessage}"></span>
            <div class="alert alert-success alert-dismissible col-sm-12"
                 th:if="${(bindingResult != null && bindingResult.getAllErrors() != null)}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ': ' + data.getDefaultMessage()}"></li>
                </ul>
            </div>

            <hr>
        </form>

        <a href="/userController/userList" style="color: #2C3485; font-weight: bold">Overzicht gebruikers</a>
    </div>
</div>
</body>
</html>