<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Overview Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myclass.css}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloAdmin">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">OVERZICHT & BEHEER GEBRUIKERS</a></li>
                    <li><a href="/userController/showFormForAdd">NIEUWE GEBRUIKER</a></li>
                    <li ><a href="/cohort/createCohort">BEHEER COHORTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="container">
    <h3 style="color:#2E3279 ">Overzicht Gebruikers</h3>
    <hr>
    <a href="/userController/showFormForAdd" class="btn btn-primary btn-sm mb-3">Voeg gebruiker toe</a>
    <table class="table table-bordered table-striped" style="background-color:	#D5D6E8;color: black">
        <thead style="background-color: #555D9C;color: white;!important;">
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Actie</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="user: ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>

            <td>
                <a th:href="@{/userController/showFormForUpdate(userId=${user.id})}" class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/userController/delete(userId=${user.id})}" class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Weet je zeker dat je deze gebruiker wilt verwijderen?'))) return false">Delete</a>
            </td>
        </tbody>
    </table>
    <hr>
    <a href="/helloAdmin" style="color:#2E3279;font-weight: bolder;font-size: 16px " >Back to Home</a>
</div>
</body>
</html>