<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Schedule</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#vrijdagAvond').change(function () {
                var antwoord = $(this).val();
                if (antwoord === "JA") swal("Vrijdag Avond\n" + "SERIEUS??")
            });
            $('#submit').on('click', function () {
                var cohort = $('#cohort').val();
                console.log(cohort);
                if (cohort === "NA") {
                    alert("U moet een cohort kiezen");
                    return false
                } else return true
            })
        })
    </script>
</head>
<body>
<div class="container">
    <h3>BESCHIKBAARHEID</h3>
    <hr>
    <p class="h4 mb-4"> Beschikbaarheid Toevoegen</p>
    <form action="#" th:action="@{/schedule/save}" th:object="${schedules}" method="POST">
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4 ">
                <div class="input-group mb-3">
                    <input type="hidden" th:field="*{user.id}"/>
                    <input type="hidden" th:field="*{id}"/>
                    <label>
                        <select class="mdb-select md-form colorful-select dropdown-dark" th:field="*{cohort}"
                                required="required">
                            <option id="cohort" selected value="NA"> Kies Cohort</option>
                            <option th:each="cohort: ${cohorts}" th:value="${cohort.intValue()}"
                                    th:text="${cohort.intValue()}">
                        </select>
                    </label>
                    <!--<input type="text" th:field="*{cohort}" placeholder="Cohort" required="required"/>-->
                </div>
                <div class="container">
                    <table class="table table-bordered table-striped" style="background-color: #d7e2e9">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Maandag</th>
                            <th scope="col">Dinsadag</th>
                            <th scope="col">Woensdag</th>
                            <th scope="col">Donderdadag</th>
                            <th scope="col">Vrijdag</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ochtend</th>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{maandagOchtend}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{dinsdagOchtend}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{woensdagOchtend}"
                                            required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{donderdagOchtend}"
                                            required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{vrijdagOchtend}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Middag</th>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{maandagMiddag}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>

                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{dinsdagMiddag}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{woensdagMiddag}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{donderdagMiddag}"
                                            required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{vrijdagMiddag}" required="required">
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Avond</th>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{maandagAvond}" required="required">
                                        <option selected value="NA"> Bent u beschikbaar?</option>
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{dinsdagAvond}" required="required">
                                        <option selected value="NA"> Bent u beschikbaar?</option>
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{woensdagAvond}" required="required">
                                        <option selected value="NA"> Bent u beschikbaar?</option>
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select class="mdb-select md-form" th:field="*{donderdagAvond}" required="required">
                                        <option selected value="NA"> Bent u beschikbaar?</option>
                                        <option value="JA">JA</option>
                                        <option value="NEE">NEE</option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label for="vrijdagAvond"></label><select id="vrijdagAvond" class="mdb-select md-form"
                                                                          th:field="*{vrijdagAvond}"
                                                                          required="required">
                                <option selected value="NA"> Bent u beschikbaar?</option>
                                <option value="JA">JA</option>
                                <option value="NEE">NEE</option>
                            </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <P>
                    <input id="submit" type="Submit" value="Submit" name="B1"/>
                </P>
            </div>
        </div>
        <hr>
    </form>
    <a class="btn btn-secondary" th:href="@{/schedule/listCohort}">Terug Naar Cohort List</a>
</div>
</body>
</html>