<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Registration Success</title>
	</head>
	<body>
		<div style="text-align: center;">
			<span th:text="${message}"></span>
		</div>
	</body>
</html>