<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mijn Inzet : Welkom</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/logo.css}"/>

</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/welcomeScreen">VERANDER VAN ROL</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/generateCohortSchedule">COHORT-ROOSTER BEHEER</a></li>

                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<body  class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <div class="jumbotron">
                <!--                <h1 class="masthead-brand">Mijn Inzet</h1>-->

                <img th:src="@{/images/logoo.jpg} " th:width="200px" th:height="200px" >
            </div>
        </div>
    </header>

    <main roleName="main" class="inner cover">
        <h2 style="color:black; font-weight: bold " class="cover-heading">Welkom </h2>
        <br>
        <h3 STYLE="color: #555D9C"><span th:text="${user.toString()}"></span></h3>
        <br>
        <h3 style="color: 	#2C3485" >Je bent ingelogd als Roosteraar</h3>

        <nav class="nav nav-masthead justify-content-center">
            <!--<a class="nav-link active" href="/users/teacherFTE">Uren overzicht</a>-->
            <!--<a class="nav-link" href="#">link</a>-->
            <!--<a class="nav-link" href="#">link</a>-->
        </nav>
        <br>

        <p class="lead">Ga naar cohort-rooster beheer</p>
        <p class="lead">
            <a href="/generateCohortSchedule" class="btn btn-lg btn-primary">COHORT-ROOSTER BEHEER </a>
        </p>
    </main>

</div>

<div class="container">
    <footer class="page-footer " style="background-color: #d7e2e9;,height:50px">
        <div class="footer-copyright text-center py-3">© Voorjaar 2019 Copyright:
            <a href="#"> Team 3 NoPressure: Esther, Brahim, Semih, Ozgur, Hans</a>
        </div>
    </footer>
</div>
</body>


<script>
    // JavaScript popup window function
    function basicPopup(url) {
        popupWindow = window.open(url, 'popUpWindow', 'height=70000,width=500,left=50,top=50,resizable=yes,' +
            'scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes')
    }
</script>
</body>
</html>
