<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>

</head>
<form>
    <!-- Navigatie-menu -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="/helloTeacher">MIJN INZET HOME</a>
        <a class="nav-link" href="/showTasks">VACATUREBEHEER</a>
        <a class="nav-link" href="/applicationBasket">MIJN SOLLICITATIES</a>
        <a class="navbar-brand" href="/schedule">MIJN ROOSTER VOORKEUREN</a>
        <a class="nav-link" href="/showSubjects">VAKKENBEHEER</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-lg btn-primary">Log Out</button>
            <!--    <a class="nav-link" type="submit">UITLOGGEN</a>-->
        </form>
    </nav>

    <form action="#" th:action="@{/}" method="post">
        <p>
        <li class="dropdown bg-light">
            <td><a th:href="@{/schedule/15}"> Cohort 15</a></td>
        </li>
        <li class="dropdown bg-light ">
            <td><a th:href="@{/schedule/16}"> Cohort 16</a></td>
        </li>
        </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <table class="table table-hover" id="TaskTable7">
                        <thead>
                        <tr>
                            <th scope="col">Dagdeel</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ochtend</th>
                        </tr>
                        <tr>
                            <th scope="row">Middag</th>
                        </tr>
                        <tr>
                            <th scope="row">Avond</th>
                        </tr>

                        </tbody>

                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table table-hover" id="TaskTable">
                        <tr>
                            <th scope="col">Maandag</th>
                        </tr>
                        <tr th:each="maandag:${maandag}">
                            <td th:text="${maandag.colorOption}">Maandag</td>
                            <td><a th:href="@{http://localhost:8081/updateSchedule/{id}(id=${maandag.id})}">wijzig</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table table-hover" id="TaskTable2">
                        <tr>
                            <th scope="col">Dinsdag</th>
                        </tr>
                        <tr th:each="dinsdag:${dinsdag}">
                            <td th:text="${dinsdag.colorOption}">Dinsdag</td>
                            <td><a th:href="@{http://localhost:8081/updateSchedule/{id}(id=${dinsdag.id})}">wijzig</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table table-hover" id="TaskTable3">
                        <tr>
                            <th scope="col">Woensdag</th>
                        </tr>
                        <tr th:each="woensdag:${woensdag}">
                            <td th:text="${woensdag.colorOption}">Woensdag</td>
                            <td><a th:href="@{http://localhost:8081/updateSchedule/{id}(id=${woensdag.id})}">wijzig</a>
                            </td>

                        </tr>
                    </table>

                </div>
                <div class="col-md-2">
                    <table class="table table-hover" id="TaskTable4">
                        <tr>
                            <th scope="col">Donderdag</th>
                        </tr>
                        <tr th:each="donderdag:${donderdag}">
                            <td th:text="${donderdag.colorOption}">Donderdag</td>
                            <td><a th:href="@{http://localhost:8081/updateSchedule/{id}(id=${donderdag.id})}">wijzig</a>
                            </td>

                        </tr>
                    </table>
                </div>

                <div class="col-md-2">
                    <table class="table table-hover" id="TaskTable5">
                        <tr>
                            <th scope="col">Vrijdag</th>
                        </tr>
                        <tr th:each="vrijdag:${vrijdag}">
                            <td th:text="${vrijdag.colorOption}">vrijdag</td>
                            <td><a th:href="@{http://localhost:8081/updateSchedule/{id}(id=${vrijdag.id})}">wijzig</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</form>
</body>
</html>