<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mijn Inzet: Beschikbaarheid</title>
</head>
<body>
<div class="container">
    <h1> Tijdtabel</h1>
    <a href="hello">Ga naar hoofdmenu</a>
    <table class="table table-striped">
        <tr>
            <th>Jaar</th>
            <th>Semester</th>
            <th>Bloknr</th>
        </tr>
        <tr th:each="timetable:${showTimeTables}">
            <!--/*@thymesVar id="timetable" type=""*/-->
            <td th:text="${timetable.jaar}">2000</td>
            <td th:text="${timetable.semester}">1</td>
            <td th:text="${timetable.bloknr}">1</td>
        </tr>
    </table>
</div>
</body>
</html>
