<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mijn Inzet: Docenten FTE </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/helloTeacher">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teacherFTE">ROOSTER</a></li>
                    <li><a href="/showTasks">VACATURBEHEER</a></li>
                    <li><a href="/applicationBasket">MIJN SOLLICITATIES</a></li>
                    <li class="dropdown">
                        <a href="https://www.jquery-az.com/bootstrap-tips-tutorials/" class="dropdown-toggle"
                           data-toggle="dropdown" roleName="button" aria-haspopup="true" aria-expanded="false">MIJN VAK
                            &
                            ROOSTER VOORKEUREN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/schedule/listCohort">Mijn Rooster Voorkeuren</a></li>
                            <li><a href="/showSubjects">Mijn Vak Voorkeuren</a></li>
                        </ul>
                    </li>
                    <li><a href="/exception/list">INCIDENTEN</a></li>
                </ul>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <h4>Docent Uren Overzicht</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>FTE</th>
            <th>Beschikbare onderwijsuren</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${voornaam}"></td>
            <td th:text="${achternaam}"></td>
            <td th:text="${email}"></td>
            <td th:text="${fte}"></td>
            <td th:text="${beschikbareUren}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <br><br>
</div>

<div class="container text-center">
    <div class="jumbotron">

        <h3>SELECTEER COHORT EN WEEK</h3>
        <hr>
        <div class="row">
            <form class="form-horizontal" th:action="@{/teacherSchedule/cohort}">
                <div class="col-md-6">
                    <label mr-sm-4><h3> Kies Cohort </h3></label>
                    <select id="cohortId" name="cohortId" class="form-control md-6" onchange="cohortSelect()">
                        <option class="col-md-10" th:each="cohort: ${cohorts}" th:value="${cohort.getCohortId()}"
                                th:text="${cohort}"></option>
                    </select>
                </div>
            </form>

            <form class="form-horizontal" id="weekSelectDropdown" th:action="@{/teacherSchedule/week}" hidden>
                <div class="col-md-4">
                    <label mr-sm-4><h3> Kies Week </h3></label>
                    <select id="dropdown" name="dropdown" class="form-control md-6" onchange="weekSelect()">
                        <option class="col-md-10"></option>
                    </select>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>


<br>
<div class="container text-center">
    <h3>ROOSTER</h3>
    <table id="subjectTable" class="table table-striped table-hover">
        <br>
        <thead class="thead-dark">
        <tr>
            <th scope="col" style="background-color: #555D9C">DATUM</th>
            <th scope="col" style="background-color: #555D9C">DAG</th>
            <th scope="col" style="background-color: #555D9C">DAGDEEL</th>
            <th scope="col" style="background-color: #555D9C">VAK</th>
            <th scope="col" style="background-color: #555D9C">DOCENT</th>
        </tr>
        </thead>
        <tbody id="subjectBody">
        </tbody>
    </table>
    <hr>
</div>
<br>
<script>
    function cohortSelect() {
        $('#weekSelectDropdown').show();
        //get the selected id
        var cohortId = $('#cohortId').val();
        console.log("cohortId = " + cohortId);
        let dropdown = document.getElementById('dropdown');
        dropdown.length = 0;
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Kies week';
        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;
        let request = new XMLHttpRequest();
        request.open('GET', '/teacherSchedule/' + cohortId, true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Accept', 'application/json');
        request.send(cohortId);
        request.onload = function () {
            if (request.status === 200) {
                console.log(`Done, got ${request.response.length} bytes`);
                // haal de data uit de request
                let weken = JSON.parse(request.response);
                let option;
                for (let i = 0; i < weken.length; i++) {
                    option = document.createElement('option');
                    option.text = weken[i];
                    option.value = weken[i];
                    dropdown.add(option);
                    console.log(option);
                }
            } else console.log("Reached the server, but it returned an error");
        }
    }

    function weekSelect() {
        var weekselected = $('#dropdown').val();
        var tbody = $('#subjectBody');
        var cohortId = $('#cohortId').val();
        let request = new XMLHttpRequest();
        request.open('GET', '/teacherSchedule/week/' + weekselected + '/' + cohortId, true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Accept', 'application/json');
        request.send(weekselected, cohortId);
        request.onload = function () {
            if (request.status === 200) { // analyze HTTP status of the response
                let list = JSON.parse(request.response);
                console.log("list after fill it up again " + list);
                getList(list);
            } else console.log("Reached the server, but it returned an error");
        };

        function getList(list) {
            tbody.empty();
            $.each(list, function (key, val) {
                if (val.subject == null)
                    alert("Let op: het rooster is nog helemaal niet rond. Check op later tijdstip opnieuw voor het volledige rooster")
                console.log("In list zit:" + list);
                tbody.append($("<tr>")
                    .append($("<td>").append(val.date))
                    .append($("<td>").append(val.day))
                    .append($("<td>").append(val.dayPart))
                    .append($("<td>").append(val.subject.subjectName))
                    .append($("<td>").append(val.user.lastName))
                )
            });
        }
    }
</script>
</body>
</html>